@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

.sectionTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: auto;
  text-align: left;
}

.sectionTitle span{
  background-image: linear-gradient(to right, rgba(199, 220, 96, 0.5), rgba(226,226,206,0));
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 50px;
  font-family: Montserrat-Medium;
  font-size: 18px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8B8B8B;
}

.sectionDetails {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  color: white;
}

.swal-button-confirm {
  font-family: Montserrat-Regular;
  padding: 7px 19px !important;
  border-radius: 2px !important;
  background-color: #018786 !important;
  color: black !important;
  font-size: 13px !important;
  border: 1px solid #3e549a !important;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) !important;
  margin-bottom: 20px !important;
  position: absolute !important;
  right: 130px !important;
}

.swal-button-cancel {
  font-family: Montserrat-Regular;
  padding: 7px 19px !important;
  border-radius: 2px !important;
  background-color: #7E7E7E !important;
  color: black !important;
  font-size: 13px !important;
  border: 1px solid #585858 !important;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) !important;
  margin-right: 30px !important;
  margin-bottom: 20px !important;
  position: absolute !important;
  right: 20px !important;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.detailsTableName {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Montserrat-Regular;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #d6d6d6;
  text-shadow: 2px 2px 4px #000000;
}

.detailsTable {
  background-color: #292929;
  padding-left: 10px;
  margin-top: 10px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  font-size: 13px;
  border-collapse: collapse;
  border: 1px solid #6D6D6D;
}

.details1 {
  margin-left: 80px;
  text-align: left;
  float: left;
  width: 30%;
}

.details2 {
  margin-left: 80px;
  text-align: left;
  float: left;
  width: 50%
}


.detailsTable td,
.detailsTable th {
  font-family: Montserrat-Medium;
  border: 1px solid #6D6D6D;
  padding: 5px;
  color: #E1E1E1;
}

.detailsTable th {
  font-family: Montserrat-Medium;
  vertical-align: top;
  font-size: 13px;
  color: #8B8B8B;
}

.button {
  position: relative;
  background-color: #f44336;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 8px;
  width: 80px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-family: Montserrat-Medium;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:disabled,
.button[disabled]{
  color: #d3d3d3;
  cursor: inherit;
  background-color: #505050;
  background: #505050;
}

.configTable {
  width: 100%;
  text-align: center;
  font-family: Montserrat-Regular;
  color: white;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  margin-left: 37px;
}

.configTable td{
  font-family: Montserrat-Regular !important;
  padding: 3px !important;
}

.configTable th {
  font-family: Montserrat-Regular !important;
  padding: 3px !important;
}


