@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

.sectionTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  text-align: left;
}

.sectionTitle span{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 50px;
  font-family: Montserrat-Medium;
  font-size: 18px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2a7316;
}

.sectionDetails {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Montserrat-Medium;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  color: white;
}

.cronTitle {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: Montserrat-Regular;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #d6d6d6;
  text-shadow: 2px 2px 4px #000000;
}

.details1 {
  margin-left: 80px;
  text-align: left;
  float: left;
  width: 30%;
  scrollbar-color: #1D3E14 #292929;
}

.details2 {
  margin-left: 80px;
  text-align: left;
  float: left;
  width: 50%;
  scrollbar-color: #1D3E14 #292929;
}

.button {
  position: relative;
  background-color: #f44336;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 8px;
  width: 80px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-family: Montserrat-Medium;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:disabled,
.button[disabled]{
  color: #d3d3d3;
  cursor: inherit;
  background-color: #505050;
  background: #505050;
}

.configTable {
  width: 100%;
  text-align: center;
  font-family: Montserrat-Regular;
  color: white;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  margin-left: 37px;
}

.configTable td{
  font-family: Montserrat-Regular !important;
  padding: 3px !important;
}

.configTable th {
  font-family: Montserrat-Regular !important;
  padding: 3px !important;
}


