@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

body {
  background-color: #121212;
}

.data {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-size: 13px;
  border-collapse: collapse;
  width: 78%;
  color: #d6d6d6;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #292929;
}

.data td,
.data th {
  padding: 7px;
  font-family: Montserrat-Regular;
}

.data tr:hover {
  background-color: #ffebed;
  color: #fa4251;
}

.data th {
  padding: 20px;
  text-align: center;
  font-family: Montserrat-Medium; 
  font-size: 13px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #292929;
  color: #e2e2e2;
}

.tableName {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.tableName th {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-family: Montserrat-Regular;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-color: #292929;
  color: #d6d6d6;
}

.searchBar {
  border-radius: 5px;
  background-image: url("./icons/search_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 5px;
  background-size: 1.5rem 1.5rem;
  width: 40%;
  font-size: 13px;
  font-family: Montserrat-Medium;
  padding: 12px 20px 12px 40px;
  opacity: 0.8;
}

.date {
  background-color: #292929;
  color: #e2e2e2;
  text-align: center;
  font-family: Montserrat-Medium;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.tableName {
  background-color: #292929;
  width: 78%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
