@font-face {
  font-family: Eczar-Bold;
  src: url('../fonts/eczar/Eczar-Bold.ttf');
}

@font-face {
  font-family: Eczar-Regular;
  src: url('../fonts/eczar/Eczar-Regular.ttf');
}

@font-face {
  font-family: Staatliches-Regular;
  src: url('../fonts/staatliches/Staatliches-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

.title {
  font-family: 'Eczar-Regular';
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #2a7316;
  font-size: 25px;
  text-align: left;
  margin-bottom:0px;
  text-shadow: 2px 2px 4px #000000;
}

.navbar {
  float: left;
  width: 100%;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #292929;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
  vertical-align: middle;
  display: table-cell;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-top: 10px;
}

.nav-text a {
  text-decoration: none;
  color: #a6a6a6;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 4px #000000;
}

.nav-text a:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.nav-left {
  text-align: right;
  width: auto;
  float: left;
  padding-left: 4%;
}

.nav-right {
  text-align: right;
  padding-top: 50px;
  margin-left: 20px;
  float: right;
  width: auto;
  padding-right: 5%;
  white-space: nowrap;
}

.date {
  background-color: #292929;
  color: #a6a6a6;
  text-align: center;
  font-family:Trebuchet MS, sans-serif;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #000000;
}

