@font-face {
  font-family: Eczar-Bold;
  src: url('../fonts/eczar/Eczar-Bold.ttf');
}

@font-face {
  font-family: Eczar-Regular;
  src: url('../fonts/eczar/Eczar-Regular.ttf');
}

@font-face {
  font-family: Staatliches-Regular;
  src: url('../fonts/staatliches/Staatliches-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Glitch-Inside;
  src: url('../fonts/glitch_inside.otf');
}


.title {
  font-family: Glitch-Inside;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #DEFE47;
  font-size: 25px;
  text-align: left;
  margin-bottom:0.5em;
  text-shadow: 2px 2px 4px #000000;
}


.navbar {
  float: left;
  padding-left: 0px;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-image: url("./background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  display: table-cell;
}

.nav-text {
  float: left;
  list-style: none;
  padding-top: 10px;
  padding-right: 5%;
}

.nav-text a {
  text-decoration: none;
  color: #6AC3EC;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 4px #000000;
}

.nav-text a:hover {
  color: #5466D9;
  text-shadow: 2px 2px 4px #000000;
}

.nav-left {
  text-align: right;
  width: 50%;
  float: left;
  padding-left: 4%;
}

.nav-right {
  text-align: right;
  padding-top: 50px;
  margin-left: 20px;
  float: right;
  width: auto;
  padding-right: 1%;
  white-space: nowrap;
}

.date {
  color: #576AE2;
  text-align: center;
  font-family:Trebuchet MS, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #000000;
}

